@import '../font/Fonts.css';
@import 'MFXColors.css';


#root {
    -fx-background-color: #fff;
    -fx-font-family: 'Helvetica Bold';
}

.root .navBar {
    -fx-background-color: #e8e8e8;
}

.navBar .mfx-button {
    -fx-background-color: #e8e8e8;
    -fx-font-family: 'Helvetica Bold';
}

.navBar .mfx-button:hover {
    /*-fx-background-color: transparent;*/
    -fx-border-color: transparent, -mfx-purple;
    -fx-border-radius: 5;

    -fx-text-fill: -mfx-purple;
    -fx-font-weight: bold;
}


.root .nav-Start-Bar {
    -fx-background-color: #e8e8e8;
}

.nav-Start-Bar .mfx-combo-box {
    -fx-font-family: 'Helvetica Regular';
}

.nav-Start-Bar .color-picker {
    /*-fx-background-color: transparent;*/
    -fx-font-family: 'Helvetica Regular';
    -fx-focus-color: -mfx-purple;
    -fx-faint-focus-color: transparent;
}

.nav-Start-Bar .mfx-date-picker {
    -fx-font-family: 'Helvetica Regular';
}



.root .input-comtainer {
    /*-fx-background-color: #7400ff;*/
}

.input-comtainer .mfx-text-field {
    -fx-font-family: 'Helvetica Bold';
}

.input-comtainer .input-textarea {
    /*-fx-font-family: 'Helvetica Regular';*/
    -fx-focus-color: -mfx-purple;
    /*-fx-faint-focus-color: -mfx-purple;*/
    -fx-faint-focus-color: transparent;;
}

.input-comtainer .comfirm-button {
    -fx-font-family: 'Helvetica Bold';
    -fx-background-color: -mfx-purple;
    -fx-text-fill: white;
}

.input-comtainer .mfx-text-field {
    -fx-font-family: 'Helvetica Bold';
}

.input-comtainer .mfx-radio-button {
    -fx-font-family: 'Helvetica Bold';
}

.input-comtainer .mfx-progress-bar .track {
    -fx-fill: #fff;
    -fx-stroke: #262626;
    -fx-stroke-width: 0;
}

.input-comtainer .mfx-progress-bar .bar1 {
    -fx-stroke: -mfx-purple;
    -fx-stroke-width: 0;
    -fx-fill: -mfx-purple;
}

.input-comtainer .mfx-progress-bar .bar2{
    -fx-stroke: -mfx-purple;
    -fx-stroke-width: 0;
    -fx-fill: -mfx-purple;
}



